@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";


@theme {
    --font-display: "Poppins", "sans-serif";

    --color-purple-title: '#3C2C63';
    --color-warm-yellow: '#FFC979';
    --color-pale-grey: '#FAFAFD';
    --color-field-grey: '#C1C1CE';
    --color-body-grey: '#5F6073';
    --color-faint-pink: '#E9DFFD';
    --color-dark-grey: '#1D1D1D';
    --color-light-purple: '#615591';
    --color-menu-selector: '#B6B6BF';
    --color-purple-border: '#7940F3';
    --color-light-grey: '#f4f5f7';

}

.gredientBackground{
    background-image: linear-gradient(to top, #06083D, #34235E);
}